
.logo{
    margin-top: 10px;
    padding-bottom: 10px;
    color: #eb9316;
}

.navbar {
    border-bottom: 1px solid #eee;
    color: #eb9316;
}

.logo-two{
    font-size: 1.5em;
}

.options{
    font-size: 1.1em;
    color: #666;
}

.panel-footer{
    background: #fff;
}

.companyName{
    margin-left: 10px;
}

.jumbotron{
    background: #323461;
}

.jumbotron h1{
    color: #fff;
}

.jumbotron p{
    color: #eee;
}

.panel-primary>.panel-heading {
    background: #e01d27;

}

.make-center{
    margin-left: 100px;
    margin-bottom: 10px;
}