    {% extends 'base.html' %}
     
     
    {% block title %} Avialable Mentor {% endblock %}
     
    {% block content %}
        <h1>Mentor Search/Assignment</h1>
    <head>
    <script type="text/javascript">
        function OnChangeCheckbox (checkbox) {
            if (checkbox.checked) {
                alert ("The check box is checked.");
            }
            else {
                alert ("The check box is not checked.");
            }
        }
    </script>
    </head>
         <div class="post">
            <h1>Aency id is {{ Agency }}   </h1>
            <table  class="table table-striped">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Choose</th>

                </tr>
                {% for supporter in supporters %}
                    <tr>
                        <td>
                            {{supporter.FirstName}}  {{supporter.LastName}}
                        </td>

                        <td>
                            {{supporter.Address1}} {{supporter.City}} {{supporter.State}} {{supporter.ZIP}}
                        </td>

                        <td>
                            {{supporter.Phone}}
                        </td>

                        <td>
                            {{supporter.Email}}
                        </td>
                        <td>
                            <input type="checkbox" onclick="OnChangeCheckbox(this)" value={{supporter.id}} name="ckhSupporter">
                        </td>

                    </tr>
                        {% endfor %}
            </table>

        </div>
    {% endblock %}

