    {% extends 'base.html' %}
     
     
    {% block title %} Avialable Mentor {% endblock %}
     
    {% block content %}
        <h1> Search for Mentor </h1>
    <head>
    <script type="text/javascript">
        function OnChangeCheckbox (checkbox) {
            if (checkbox.checked) {
                alert ("The check box is checked.");
            }
            else {
                alert ("The check box is not checked.");
            }
        }
    </script>
    </head>
         <div class="post">
            <table>
                {% for supporter in supporters %}
                    <tr>
                        <td>
                            {{supporter.FirstName}}
                        </td>
                        <td>
                            {{supporter.LastName}}
                        </td>
                        <td>
                            {{supporter.Address1}}
                        </td>
                        <td>
                            {{supporter.Address2}}
                        </td>
                        <td>
                            {{supporter.City}}
                        </td>
                        <td>
                            {{supporter.State}}
                        </td>
                        <td>
                            {{supporter.ZIP}}
                        </td>
                        <td>
                            {{supporter.Phone}}
                        </td>

                        <td>
                            {{supporter.Email}}
                        </td>
                        <td>
                            <input type="checkbox" onclick="OnChangeCheckbox(this)" value={{supporter.id}} name="ckhSupporter">
                        </td>

                    </tr>
                        {% endfor %}
            </table>

        </div>
    {% endblock %}

