{% extends 'base.html' %}

{% block title %} Welcome to Next2U {% endblock %}


{% block content %}
    <div class="container" id="main-container">

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-8">
                    <h1>Who are we?</h1>
                    <p>We're here to connect non-profit agencies with individuals who want to help victims of domestic abuse.</p>
                    <a class="btn btn-warning" href="#learn-more">Want to help? Learn More</a>
                </div>
                <div class="col-md-4">
                    <img src="/static/images/violence.jpg" class="pull-right">
                </div>
            </div>


            <div class="clearfix"></div>

        </div>

        <div class="row" id="learn-more">
            <div class="col-md-6">
                <h1>Are you an non-profit?</h1>

                <ul class="options">
                    <li>Are you looking to find more volunteers?</li>
                    <li>Are you bogged down by volunteer paperwork?</li>
                    <li>Do you want a seamless volunteer management system?</li>

                </ul>
                <div class="make-center">
                    <a href="/signin?type=agency" class="btn btn-lg btn-success">Sign In</a>
                    <a href="/agencyRegistration" class="btn btn-warning">Register</a>
                </div>

            </div>
            <div class="col-md-6">
                <h1>Do you want to be a mentor?</h1>
                 <ul class="options">
                            <li>Do you want to help abused women?</li>
                            <li>Do you want to give back to society?</li>
                            <li>Do you want to apply online?</li>

                        </ul>
                <div class="make-center">
                <a href="signin?type=mentor" class="btn btn-lg btn-success">Sign In</a>
                        <a href="/mentorRegistration" class="btn btn-warning">Register</a>

                </div>
                </div>
            </div>
        </div>


{% endblock %}
